<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="assets/images/LogoPrimary.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <title>Tienda de adopcion</title>
</head>
<!-- header -->

<body>
  <div id="app">
    <nav id="header" class="navbar navbar-expand-lg mb-5">
      <div class="container-fluid">
        <a href="">
          <h4 class="btn">Adoption Pets<span><img src="../../src/assets/images/logo.png" alt="" style="width: 40px;"></span>
          </h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
          <div class="offcanvas-header">
            <h4>Adoption Pets <span><img src="../../src/assets/images/logo.png" alt="" style="width: 40px;"></span></h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../view/menu.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../view/adoption.html">Adopta un peludo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../view/form.html">Dar en adopcion</a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link active btn btn-success col-5" aria-current="page" @click="logOut">Cerrar sesion</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  
    <!-- /header -->
    <!--Tables-->
    <section>
      <div class="container">
        <div row>
          <table class="table" id="tablas">
            <thead>
              <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Estado</th>
                <th scope="col">foto</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td>Tony</td>
                <td>Chester</td>
                <td>Adoptado</td>
                <td><img src="../assets/images/perro1.jpg" id="foto-perro" alt="perro"></td>
              </tr>
              <tr>

                <td>Criollo</td>
                <td>Pincher</td>
                <td>Espera</td>
                <td><img src="../assets/images/perro1.jpg" id="foto-perro" alt="perro"></td>
              </tr>
              <tr>

                <td>Larry</td>
                <td>Bulldog</td>
                <td>Espera</td>
                <td><img src="../assets/images/perro1.jpg" id="foto-perro" alt="perro"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <!--/Tables -->
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../js/main.js"></script>
</body>

</html>