*{
  font-family: 'Merriweather', serif;
}
#header {
  background-color: rgb(44, 139, 87) !important;
  height: 95px;
  color: #FFFFFF;
}
body{
  background-color: rgb(204, 217, 226);
  
}
#login{
  background-color: rgb(44, 139, 87);
  margin: auto;
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  height: 280px;
  text-align: center;
  font-family: 'Merriweather', serif
}
/* modals */
#mascota-modal img{
  width: 320px;
}
#modal-body-perro{
  background-color: rgb(44, 139, 87) !important;
}
#modal-perro{
  background-color: rgb(204, 217, 226) !important;
}
#adoptado{
  filter: grayscale(80%);
}
/* /modals */
#formulario{
  background-color: rgb(44, 139, 87);
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 400px;
  text-align: center;
  font-family: 'Merriweather', serif
}

